<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e2e487">  <td>22/11/21 16:03:57</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Common_Functions.launchBrowser()[pri:0, instance:testcases.kiviapp.Login_test_Cases@8519cb4]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@640070680</td>   <td></td> </tr>
<tr bgcolor="e2e487">  <td>22/11/21 16:04:04</td>   <td>7640</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Common_Functions.tearDown1()[pri:0, instance:testcases.kiviapp.Login_test_Cases@8519cb4]">&lt;&lt;tearDown1</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@640070680</td>   <td></td> </tr>
</table>
